tensorflow==2.4.1
gunicorn==20.1.0
librosa==0.8.0
matplotlib==3.4.1
opencv-python-headless
pandas
openpyxl
pytest
mock
azure-storage-blob
progressbar
fastapi
uvicorn[standard]
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
snakeviz